:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #fafafa;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.2;
}

h2 {
  font-size: 1.2em;
  line-height: 1.1;
}

p {
  font-size: 2rem;
  text-align: center;
}

.card-container {
  border-style: insert;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 1.2em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #6e6e6e;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}
button:hover {
  border-color: #000000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.objectives {
  font-size: 1.3rem;
  text-align: center;
  width: 400px;
}

.obejectives-container {
  margin: 20px;
  display: grid;
  background-color: rgb(148, 28, 28);
  grid-template-columns: repeat(3, 1.5fr);
}

.reward-container {
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  background-color: #8a912e;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
