@font-face {
  font-family: MedievalSharp Bold;
  src: url("../src/font/medieval-sharp.bold.ttf");
}
:root {
  background-color: black;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ff0606;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

body {
  background-image: url("./assets/backgroundTemplate.png");
  background-size: cover;
  margin: 0 0 10px 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: rgba(255, 255, 255, 0.76);
  font-size: 1.2rem;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 10px 0;
  font-family: MedievalSharp Bold;
}

h2 {
  font-size: 15px;
  text-align: center;
}

p {
  font-size: 1rem;
  font-family: MedievalSharp Bold;
  margin: 0 0 10px 0;
  color: gray;
}

.card {
  position: relative;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  overflow: visible;
}
.card-content {
  border-radius: 12px;
  padding: 15px;
  margin: auto 20px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 1.2em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0;
  border-color: rgba(220, 220, 220, 0.575);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.objectives-container p {
  font-size: 1rem;
  text-align: left;
  color: rgb(128, 128, 128);
}

.location-container {
  text-align: left;
  font-family: MedievalSharp Bold;
}

.rewards-label {
  font-family: MedievalSharp Bold;
}

.rewards-container {
  text-align: left;
}

.rewards-line {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.reward-buttons {
  display: flex;
  gap: 8px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
